.barra-superiore {
    background-color: #004080;
    color: white;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
}

.barra-superiore a.accedi {
    background-color: white;
    text-decoration: none;
    padding: 3px 10px;
    background-color: #0078d4;
    border-radius: 3px;
}